# ===============================
# Virtual environment
# ===============================
venv/
.env/
.venv/

# ===============================
# Python cache
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Django
# ===============================
db.sqlite3
media/
staticfiles/

# ===============================
# Environment & secrets
# ===============================
.env
.env.*

# ===============================
# Logs
# ===============================
*.log

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

