{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Yummy Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Yummy</h1>
        <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#chefs">Chefs</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="#book-a-table">Book a Table</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h1>
            <p data-aos="fade-up" data-aos-delay="100">We are team of talented designers making websites with Bootstrap</p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="#book-a-table" class="btn-get-started">Booka a Table</a>
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p><span>Learn More</span> <span class="description-title">About Us</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid mb-4" alt="">
            <div class="book-a-table">
              <h3>Book a Table</h3>
              <p>+998 97 140 88 88</p>
            </div>
          </div>
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
              </p>

              <div class="position-relative mt-4">
                <img src="{% static 'assets/img/about-2.jpg' %}" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section light-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Yummy</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Corporis voluptates officia eiusmod</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Ullamco laboris ladore lore pan</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Labore consequatur incidid dolore</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section dark-background">

      <img src="{% static 'assets/img/stats-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Ishchilar</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Menu Section -->
    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Bizning Menu</h2>
        <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Bar</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Salatlar</h4>
            </a><!-- End tab nav item -->

          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Qo'shimcha taomlar</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4>Burger</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-pizza">
              <h4>Pizza</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-bread">
              <h4>Non</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-sup">
              <h4>Suyuq ovqatlar</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-fish">
              <h4>Baliqlar</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-bbq">
              <h4>Steak</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-national">
              <h4>MILLIY TAOMLAR</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-kebab">
              <h4>Shashlik</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-sweets">
              <h4>Shirinliklar</h4>
            </a>
          </li><!-- End tab nav item -->  

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="menu-starters" >

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Bar</h3>
            </div>

            <div class="row gy-5" >
              {% for bar_menu in bars_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ bar_menu.image.url }}" class="glightbox"><img src="{{ bar_menu.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ bar_menu.name }}</h4>
                <p class="ingredients">
                  {{ bar_menu.status }}
                </p>
                <p class="price">
                  {{ bar_menu.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}
            </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Salatlar</h3>
            </div>

            <div class="row gy-5">

              {% for salad_menu in salads_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ salad_menu.image.url }}" class="glightbox"><img src="{{ salad_menu.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 1000px;"></a>
                <h4>{{ salad_menu.name }}</h4>
                <p class="ingredients">
                  {{ salad_menu.status }}
                </p>
                <p class="price">
                  {{ salad_menu.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Menyu</p>
              <h3>Qo'shimcha taomlar</h3>
            </div>

            <div class="row gy-5">

              {% for additionaldishe_menu in additionaldishes_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ additionaldishe_menu.image.url }}" class="glightbox"><img src="{{ additionaldishe_menu.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ additionaldishe_menu.name }}</h4>
                <p class="ingredients">
                  {{ additionaldishe_menu.status }}
                </p>
                <p class="price">
                  {{ additionaldishe_menu.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Lunch Menu Content -->

          <div class="tab-pane fade" id="menu-dinner">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Burger</h3>
            </div>

            <div class="row gy-5">

              {% for burger_menu in burgers_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ burger_menu.image.url }}" class="glightbox"><img src="{{ burger_menu.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ burger_menu.name }}</h4>
                <p class="ingredients">
                  {{ burger_menu.status }}
                </p>
                <p class="price">
                  {{ burger_menu.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

          <div class="tab-pane fade" id="menu-pizza">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Pizza</h3>
            </div>

            <div class="row gy-5">

              {% for pizza_menus in pizza_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ pizza_menus.image.url }}" class="glightbox"><img src="{{ pizza_menus.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ pizza_menus.name }}</h4>
                <p class="ingredients">
                  {{ pizza_menus.status }}
                </p>
                <p class="price">
                  {{ pizza_menus.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

          <div class="tab-pane fade" id="menu-bread">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Non</h3>
            </div>

            <div class="row gy-5">

              {% for bread_menus in bread_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ bread_menus.image.url }}" class="glightbox"><img src="{{ bread_menus.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ bread_menus.name }}</h4>
                <p class="ingredients">
                  {{ bread_menus.status }}
                </p>
                <p class="price">
                  {{ bread_menus.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

          <div class="tab-pane fade" id="menu-sup">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Suyuq ovqatlar</h3>
            </div>

            <div class="row gy-5">

              {% for sup_menus in sup_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ sup_menus.image.url }}" class="glightbox"><img src="{{ sup_menus.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ sup_menus.name }}</h4>
                <p class="ingredients">
                  {{ sup_menus.status }}
                </p>
                <p class="price">
                  {{ sup_menus.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

          <div class="tab-pane fade" id="menu-fish">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Baliqlar</h3>
            </div>

            <div class="row gy-5">

              {% for fish_menus in fish_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ fish_menus.image.url }}" class="glightbox"><img src="{{ fish_menus.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ fish_menus.name }}</h4> 
                <p class="ingredients">
                  {{ fish_menus.status }}
                </p>
                <p class="price">
                  {{ fish_menus.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

          <div class="tab-pane fade" id="menu-bbq">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Steak</h3>
            </div>

            <div class="row gy-5">

              {% for bbq_menus in bbq_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ bbq_menus.image.url }}" class="glightbox"><img src="{{ bbq_menus.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ bbq_menus.name }}</h4>
                <p class="ingredients">
                  {{ bbq_menus.status }}
                </p>
                <p class="price">
                  {{ bbq_menus.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

          <div class="tab-pane fade" id="menu-national">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Milliy Ovqatlar</h3>
            </div>

            <div class="row gy-5">

              {% for national_menus in national_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ national_menus.image.url }}" class="glightbox"><img src="{{ national_menus.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ national_menus.name }}</h4>
                <p class="ingredients">
                  {{ national_menus.status }}
                </p>
                <p class="price">
                  {{ national_menus.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

          <div class="tab-pane fade" id="menu-kebab">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Shashlik</h3>
            </div>

            <div class="row gy-5">

              {% for kebab_menus in kebab_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{{ kebab_menus.image.url }}" class="glightbox"><img src="{{ kebab_menus.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ kebab_menus.name }}</h4>
                <p class="ingredients">
                  {{ kebab_menus.status }}
                </p>
                <p class="price">
                  {{ kebab_menus.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

          <div class="tab-pane fade" id="menu-sweets">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Shirinliklar</h3>
            </div>

            <div class="row gy-5">

              {% for sweets_menus in sweets_menu %}
              <div class="col-lg-4 menu-item" style="background-image: url({{sweets_menus.image.url}});">
                <a href="{{ sweets_menus.image.url }}" class="glightbox"><img src="{{ sweets_menus.image.url }}" class="menu-img img-fluid" alt="" style="border-radius: 100px;"></a>
                <h4>{{ sweets_menus.name }}</h4>
                <p class="ingredients">
                  {{ sweets_menus.status }}
                </p>
                <p class="price">
                  {{ sweets_menus.price }}<sup>сум</sup>
                </p>
              </div><!-- Menu Item -->
              {% endfor %}

            </div>
          </div><!-- End Dinner Menu Content -->

        </div>

      </div>

    </section><!-- /Menu Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>TESTIMONIALS</h2>
        <p>Mashhurlardan <span class="description-title">Izoh</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">
            {% for comment in comments %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>{{ comment.comment }}</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>{{ comment.name }}</h3>
                      <h4>{{ comment.instagram_handle }}</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{{ comment.image }}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">
            {% for party in parties %}
            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url({{party.image}})">
              <h3>{{ party.type }}</h3>
              <div class="price align-self-start">{{ party.price }}</div>
              <p class="description">
                {{ party.description }}
              </p>
            </div><!-- End Event item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->

    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Oshpazlar</h2>
        <p><span>Our</span> <span class="description-title">Proffesional Oshpazlar<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          {% for chef in chefs %}
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ chef.image.url }}" class="img-fluid" alt="{{ chef.name }}">
                <div class="social">

                  <a href="{{ chef.face }}"><i class="bi bi-facebook"></i></a>
                  <a href="{{ chef.insta }}"><i class="bi bi-instagram"></i></a>

                </div>
              </div>
              <div class="member-info">
                <h4>{{ chef.name }}</h4>
                <span>{{ chef.status }}</span>
                <p>{{ chef.description }}</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->
          {% endfor %}

        </div>

      </div>

    </section><!-- /Chefs Section -->

    <!-- Book A Table Section -->
    <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Book A Table</h2>
        <p><span>Book Your</span> <span class="description-title">Stay With Us<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 reservation-img" style="background-image: url({% static 'assets/img/reservation.jpg' %});"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
            <form action="{% static 'forms/book-a-table.php' %}" method="post" role="form" class="php-email-form">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="date" name="date" class="form-control" id="date" placeholder="Date" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people" required="">
                </div>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              </div>

              <div class="text-center mt-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                <button type="submit">Book a Table</button>
              </div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>

    </section><!-- /Book A Table Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p><span>Check</span> <span class="description-title">Our Gallery</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-1.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-2.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-3.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-4.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-5.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-6.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-7.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/gallery-8.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Kontact</h2>
        <p><span>Bizning</span> <span class="description-title">Manzil</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-5">
          <iframe style="width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.7773113772923!2d60.37462697737445!3d41.37892269318019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41dfa52a2495980b%3A0x20d0a3bfc21b981d!2sSofra%20Restaurant!5e0!3m2!1sru!2s!4v1763135397640!5m2!1sru!2s" frameborder="0" allowfullscreen=""></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="icon bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Xorazm viloyati, Xiva shahri, Elobod 94uy</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Murojat uchun</h3>
                <p>+998 97 140 88 88</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email</h3>
                <p>sofra@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-clock flex-shrink-0"></i>
              <div>
                <h3>Ochilish vaqti<br></h3>
                <p><strong>Dush-Yak:</strong> 11:00 - 02:00;</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="{% static 'forms/contact.php' %}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Address</h4>
            <p>Xorazm viloyati, Xiva shahri, Elobod 94uy</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Aloqa</h4>
            <p>
              <strong>Murojat uchun:</strong> <span>+998 97 140 88 88</span><br>
              <strong>Email:</strong> <span>sofra@gmail.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Ochilish vaqti</h4>
            <p>
              <strong>Dush-Yak:</strong> <span>11:00 - 02:00</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p><span>Created by: Rajabov Holmurod</span> <strong class="px-1 sitename"></strong> <span></span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      <a href="https://bootstrapmade.com/"></a> <a href="https://themewagon.com"></a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>